{% load static %}
<html>

<head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <div>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">Django Blog</a></h1>
            </div>
            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        </header>
        <!--authenticating user and greeting, also adding url for logout-->
        {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p> <a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
        <p>You are not logged in.</p>
        <!-- if the user is not logged in displaying the link to login -->
        <a href="{% url 'login' %}">Log In</a> {% endif %}
        <!-- Note that code between block content  and endblock content  can be filled -->
        <!-- by other templates. Speaking of which, here is the code for home.html. -->
        <h4>this is above division</h4>
        <div>
            {% block content %} {% endblock content %}
        </div>
        <h4>This is below division</h4>
</body>

</html>